html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#navbar_logo {
    width:70px;
    height:auto;
}

a {
    color: #0CB859;
    text-decoration: none;
}

a:hover {
    color: #4CF899;
}

.title_li {
    font-weight: bold;
    font-size: 16px;
}

span {
    color: #545454;
}

.site_name {
    color: #0CB859;
    font-weight: bold;
}

h1 {
    color: #0CB859;
    margin-bottom: 50px;
    /*background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;*/
}

h2 {
    color: #545454;
    margin-bottom: 30px;
    margin-top: 30px;
    text-align: left;
}

.nav-link {
    color: #ffffff !important;
}

.nav-link:hover {
    color: #4CF899 !important;
}

li {
    text-align: left !important;
}

p { 
    text-align: left;
}

#header_home_page {
    background-color: rgba(0, 0, 0, 0.6);
}

#header_home_page > div > h2 {
    color: #ffffff;
    /*background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;*/
}

#header_home_page > div > p {
    color: #ffffff;
    /*background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;*/
}

.img_accueil {
    width: 80%;
    height: auto;
    margin: auto;
}

.home_bg {
    background-image: url(/img/bg_home_page.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.contact_form {
    margin-top: 50px;
    background-color: #545454;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

.contact_form > form > input {
    margin-top: 20px;
    margin-bottom: 20px;
}

.contact_form > form > textarea {
    margin-top: 20px;
    margin-bottom: 20px;
}

.contact_form > form > h2 {
    text-align: center;
    color: #0CB859;
}

.contact_form > form > span {
    font-size: 10px;
    color: white;
    margin-bottom: 20px;
}

.contact_form > form > button {
    background-color: #0CB859 !important;
    font-weight: bold;
    width: 40%;
}

.contact_form > form > button:hover {
    background-color: #4CF899 !important;
}

#carousel_realisation {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
}

.bg-opaque {
    
}