<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Solution1fo</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-icons.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Solution1fo.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav id="navbar" class="navbar navbar-expand-md navbar-toggleable-md navbar-dark bg-opaque box-shadow">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="/img/logo-damien.png" alt="Solution1fo_logo" id="navbar_logo" /></a>
                <button class="navbar-toggler" id="navbar_button" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div id="navbar_deployed" class="navbar-collapse collapse d-md-inline-flex justify-content-center">
                    <ul class="navbar-nav nav-justified flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index"><i class="bi bi-house-door-fill"></i> Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Services"><i class="bi bi-person-fill-gear"></i> Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Competences"><i class="bi bi-card-list"></i> Compétences</a>
                        </li>
                        <!--<li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Realisation"><i class="bi bi-diagram-3-fill"></i> Réalisation</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Tarifs"><i class="bi bi-currency-euro"></i> Tarifs</a>
                        </li>-->
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Contact"><i class="bi bi-person-fill"></i> Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid p-0">
        <main role="main" class="p-0">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted bg-black">
        <div class="container-fluid text-white row">
            <div class="col-12 col-md-4 text-start text-md-center">
                &copy; 2023 - Solution1fo
            </div>
            <div class="col-12 col-md-4 text-start text-md-center">
                <a asp-area="" asp-controller="Home" asp-action="MentionsLegales">Mentions légales</a>
            </div>
            <div class="col-12 col-md-4  text-start text-md-center">
                <a asp-area="" asp-controller="Home" asp-action="PolitiqueDeConfidentialite">Politique de confidentialité</a>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/accueil.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
