@{
    ViewData["Title"] = "Compétences";
}

<div class="container_page container-fluid row">
    <div class="col-sm-12 col-md-2 col-lg-12 col-xl-1"></div>
    <div class="col-sm-12 col-md-8 col-lg-12 col-xl-10">
        <h1 class="mb-4">Mes Compétences</h1>
        <h2>Mon savoir faire pour vous servir.</h2>
        <div class="row container-fluid text-center">
            <ul class="list-group list-group-flush">
                <!--Web-->
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-12 col-md-12 col-lg-6 col-xl-6 mb-4">
                            <span>Développement Web</span><br />
                            Développement d'applications et de sites Web sur mesure, en extranet ou intranet
                        </div>
                        <div class="col-12 col-md-12 col-lg-6 col-xl-6 mb-4">
                            <div class="progress">
                                <div class="progress-bar progress_bg" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                                    <span class="progress-bar-text">C# - C# ASP.NET Core - C# ASP.NET</span>
                                </div>
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress_bg" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                                    <span class="progress-bar-text">Javascript - Jquery</span>
                                </div>
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress_bg" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                                    <span class="progress-bar-text">HTML - XML</span>
                                </div>
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress_bg" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                    <span class="progress-bar-text">CSS - Bootstrap - Vue js</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                
                <!--BDD-->
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-12 col-md-12 col-lg-6 col-xl-6 mb-4">
                            <span>Base de données</span><br />
                            Conception, Optimisation et Migration de bases de données
                        </div>
                        <div class="col-12 col-md-12 col-lg-6 col-xl-6 mb-4">
                            <div class="progress">
                                <div class="progress-bar progress_bg" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                                    <span class="progress-bar-text">PostgreSQL - SQL Server - MySQL</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

                <!--Soft-->
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-12 col-md-12 col-lg-6 col-xl-6 mb-4">
                            <span>Développement Logiciel</span><br />
                            Développement de logiciels sur mesure pour répondre à vos besoins
                        </div>
                        <div class="col-12 col-md-12 col-lg-6 col-xl-6 mb-4">
                            <div class="progress">
                                <div class="progress-bar progress_bg" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">
                                    <span class="progress-bar-text">C - C++</span>
                                </div>
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress_bg" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                                    <span class="progress-bar-text">C# WPF</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                
                <!--Excel-->
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-12 col-md-12 col-lg-6 col-xl-6 mb-4">
                            <span>Excel Avancé</span><br />
                            Développement de Macro VBA et de formules complexes pour effectuer des calculs ou toute autre action
                        </div>
                        <div class="col-12 col-md-12 col-lg-6 col-xl-6 mb-4">
                            <div class="progress">
                                <div class="progress-bar progress_bg" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                                    <span class="progress-bar-text">VBA .NET</span>
                                </div>
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress_bg" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                                    <span class="progress-bar-text">Formules et Fonctionnalités Excel</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                
                <!--Server-->
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-12 col-md-12 col-lg-6 col-xl-6 mb-4">
                            <span>Gestion de serveur</span><br />
                            Configuration de serveur pour heberger vos sites Webs, applications, base de données ou serveurs de messagerie
                        </div>
                        <div class="col-12 col-md-12 col-lg-6 col-xl-6 mb-4">
                            <div class="progress">
                                <div class="progress-bar progress_bg" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                                    <span class="progress-bar-text">Linux (Debian - Ubuntu - Raspbian)</span>
                                </div>
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress_bg" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                                    <span class="progress-bar-text">Postfix</span>
                                </div>
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress_bg" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                    <span class="progress-bar-text">Nginx - Apache2</span>
                                </div>
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress_bg" role="progressbar" style="width: 68%" aria-valuenow="68" aria-valuemin="0" aria-valuemax="100">
                                    <span class="progress-bar-text">Docker</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                
                <!--Cyber-->
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-12 col-md-12 col-lg-6 col-xl-6 mb-4">
                            <span>Cybersécurité</span><br />
                            Le flux de mails issue des solutions que je développe sont conformes avec les protocoles SPF, DKIM et DMARC
                        </div>
                        <div class="col-12 col-md-12 col-lg-6 col-xl-6 mb-4">
                            <div class="progress">
                                <div class="progress-bar progress_bg" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
                                    <span class="progress-bar-text">SPF - DKIM - DMARC</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                
                <!--Web3-->
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-12 col-md-12 col-lg-6 col-xl-6 mb-4">
                            <span>Web3</span><br />
                            Développement de contrats intelligents (smart-contract) avec Solidity et interaction avec blockchains et smart-contract avec Web3.js
                        </div>
                        <div class="col-12 col-md-12 col-lg-6 col-xl-6 mb-4">
                            <div class="progress">
                                <div class="progress-bar progress_bg" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                                    <span class="progress-bar-text">Solidity</span>
                                </div>
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress_bg" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">
                                    <span class="progress-bar-text">Web3 js</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="row container_page mt-5">
            <div class="col-12 col-lg-2"></div>
            <div class="col-12 col-lg-8">
                <p class="mt-5 mb-5">
                    Certaines ou plusieurs de mes compétences vous intéressent ?
                    <a href="contact">Contactez-moi</a> dès maintenant pour discuter de votre projet.
                </p>
            </div>
        </div>
    </div>
</div>