@{
    ViewData["Title"] = "Accueil";
    Layout = "../Shared/_LayoutHome.cshtml";
}

<div class="text-center container-fluid p-0">
    <div class="container-fluid home_bg">
        <div class="row" id="header_home_page">
            <div class="col-12 col-md-2"></div>
            <div class="col-12 col-md-8">
                <h1>Solution1fo</h1>
                <span class="slogan h2">Des solutions informatiques sur mesure, parfaitement adaptées à vos besoins.</span>
                <h2>Une expérience DevOps et développement informatique indépendant, alliant simplicité et efficacité à votre service.</h2>
                <p>
                    Chez <span class="site_name">Solution1fo</span> l'engagement repose sur la simplicité, vous assurant un accompagnement personnalisé qui répond précisément à vos besoins spécifiques.
                    En tant que professionnel indépendant, je vous offre une approche claire et transparente en combinant mes compétences en développement informatique et DevOps pour concevoir des solutions sur mesure, alliant puissance et efficacité.
                </p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-2 col-lg-12 col-xl-1"></div>
            <div class="col-12 col-md-8 col-lg-12 col-xl-10">
                <h2 class="mb-4 text-center">Pourquoi Solution1fo ?</h2>
                <div class="row container-fluid text-sm-start text-center">
                    <div class="col-12 col-md-12 col-lg-6 col-xl-6 mb-4 row">
                        <div class="col-12 col-md-12 col-lg-3 col-xl-3 text-center">
                            <div class="circle-icon">
                                <i class="bi bi-person-fill"></i>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 col-lg-9 col-xl-9 text-start">
                            <span class="title_li">Prestataire Accessible et Joignable</span><br /><br />
                            Vous bénéficierez d'une communication fluide et d'un accès facile à moi, votre prestataire, pour répondre rapidement à vos demandes, questions et préoccupations.
                        </div>
                    </div>

                    <div class="col-12 col-md-12 col-lg-6 col-xl-6 mb-4 row">
                        <div class="col-12 col-md-12 col-lg-3 col-xl-3 text-center">
                            <div class="circle-icon">
                                <i class="bi bi-key-fill"></i>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 col-lg-9 col-xl-9 text-start">
                            <span class="title_li">Solutions Clé en Main</span><br /><br />
                            Mes services proposent des solutions clé en main, vous permettant de vous concentrer sur votre activité principale pendant que je simplifie vos défis technologiques.
                            À la fin de la réalisation du projet, vous possèderez le code source, ainsi qu'une documentation permettant une parfaite gestion de ce dernier.
                        </div>
                    </div>

                    <div class="col-12 col-md-12 col-lg-6 col-xl-6 mb-4 row">
                        <div class="col-12 col-md-12 col-lg-3 col-xl-3 text-center">
                            <div class="circle-icon">
                                <i class="bi bi-tools"></i>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 col-lg-9 col-xl-9 text-start">
                            <span class="title_li">Maintenance Facilitée</span><br /><br />
                            Les solutions que je crée sont conçues pour une maintenance aisée, vous offrant une gestion sans effort et des modifications fluides pour garantir la durabilité de vos systèmes.
                        </div>
                    </div>

                    <div class="col-12 col-md-12 col-lg-6 col-xl-6 mb-4 row">
                        <div class="col-12 col-md-12 col-lg-3 col-xl-3 text-center">
                            <div class="circle-icon">
                                <i class="bi bi-arrow-repeat"></i>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 col-lg-9 col-xl-9 text-start">
                            <span class="title_li">Flexible et Adaptable</span><br /><br />
                            Je vous propose une expérience flexible et adaptable à vos besoins changeants, offrant des solutions agiles qui évoluent avec votre entreprise.
                        </div>
                    </div>

                    <div class="col-12 col-md-12 col-lg-6 col-xl-6 mb-4 row">
                        <div class="col-12 col-md-12 col-lg-3 col-xl-3 text-center">
                            <div class="circle-icon">
                                <i class="bi bi-search"></i>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 col-lg-9 col-xl-9 text-start">
                            <span class="title_li">Collaboration Transparente</span><br /><br />
                            Vous serez impliqué à chaque étape du processus. La transparence et la communication ouverte sont au cœur de ma philosophie de travail.
                        </div>
                    </div>

                    <div class="col-12 col-md-12 col-lg-6 col-xl-6 mb-4 row">
                        <div class="col-12 col-md-12 col-lg-3 col-xl-3 text-center">
                            <div class="circle-icon">
                                <i class="bi bi-star-fill"></i>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 col-lg-9 col-xl-9 text-start">
                            <span class="title_li">Engagement envers la Qualité</span><br /><br />
                            Chaque aspect de mon travail est guidé par un engagement inébranlable envers la qualité. Vous pouvez vous attendre à un code de haut niveau et des solutions DevOps conformes aux normes les plus élevées.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-black">
        <div class="row">
            <div class="col-12 col-md-2 col-lg-12 col-xl-1"></div>
            <div class="col-12 col-md-8 col-lg-12 col-xl-10">
                <h2 class="text-center">Comment se passe notre collaboration ?</h2>
                <div class="row container-fluid text-sm-start text-center">
                    <div class="col-12 col-md-12 col-lg-6 col-xl-6 mb-4 row">
                        <div class="col-12 col-md-12 col-lg-3 col-xl-3 text-center">
                            <div class="circle-icon">
                                <span>1</span>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 col-lg-9 col-xl-9 text-start">
                            <span class="title_li">Une Écoute Attentive de Votre Demande</span><br />
                            Nous débutons par une phase d'écoute approfondie de vos besoins, comprenant vos objectifs, vos attentes, et les spécificités de votre projet.
                        </div>
                    </div>
                    <div class="col-12 col-md-12 col-lg-6 col-xl-6 mb-4 row">
                        <div class="col-12 col-md-12 col-lg-3 col-xl-3 text-center">
                            <div class="circle-icon">
                                <span>2</span>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 col-lg-9 col-xl-9 text-start">
                            <span class="title_li">Une Compréhension du Fonctionnement de l'Entreprise et du Besoin Ciblé</span><br />
                            Je mets tout en oeuvre afin de comprendre en détail le fonctionnement de votre entreprise, ainsi que le besoin spécifique que vous souhaitez adresser à travers le projet.
                        </div>
                    </div>
                    <div class="col-12 col-md-12 col-lg-6 col-xl-6 mb-4 row">
                        <div class="col-12 col-md-12 col-lg-3 col-xl-3 text-center">
                            <div class="circle-icon">
                                <span>3</span>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 col-lg-9 col-xl-9 text-start">
                            <span class="title_li">Une Étude de l'Existant</span><br />
                            Une analyse approfondie de l'existant est menée dans le but d'optimiser et de simplifier l'intégration harmonieuse de la nouvelle solution. L'objectif est d'assurer une cohérence parfaite avec les solutions existantes tout en simplifiant le besoin métier pour une efficacité accrue.
                        </div>
                    </div>
                    <div class="col-12 col-md-12 col-lg-6 col-xl-6 mb-4 row">
                        <div class="col-12 col-md-12 col-lg-3 col-xl-3 text-center">
                            <div class="circle-icon">
                                <span>4</span>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 col-lg-9 col-xl-9 text-start">
                            <span class="title_li">Une Définition du Périmètre de la Solution et des Délais de Réalisation</span><br />
                            En collaboration, nous définissons clairement le périmètre de la solution, identifions les fonctionnalités clés, et établissons des délais réalistes pour la réalisation du projet.
                        </div>
                    </div>
                    <div class="col-12 col-md-12 col-lg-6 col-xl-6 mb-4 row">
                        <div class="col-12 col-md-12 col-lg-3 col-xl-3 text-center">
                            <div class="circle-icon">
                                <span>5</span>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 col-lg-9 col-xl-9 text-start">
                            <span class="title_li">Si Votre Demande Évolue, Nous Redéfinissons Ensemble l'Étape 4</span><br />
                            La flexibilité est essentielle. Si votre demande évolue en cours de projet, nous nous engageons à redéfinir ensemble le périmètre de la solution et les délais pour garantir l'alignement continu sur vos besoins.
                        </div>
                    </div>
                    <div class="col-12 col-md-12 col-lg-6 col-xl-6 mb-4 row">
                        <div class="col-12 col-md-12 col-lg-3 col-xl-3 text-center">
                            <div class="circle-icon">
                                <span>6</span>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 col-lg-9 col-xl-9 text-start">
                            <span class="title_li">Une Livraison qui Correspond à Vos Besoins</span><br />
                            Le projet est achevé avec une livraison soigneusement orchestrée pour répondre à vos besoins. Avant la livraison finale, des révisions et des tests sont effectués pour assurer la qualité et la conformité aux attentes.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row container-fluid mt-5">
        <div class="col-12 col-lg-2"></div>
        <div class="col-12 col-lg-8">
            <p class="mt-5 mb-5">
                Que vous soyez une start-up en pleine croissance ou une entreprise établie, découvrez comment <span class="site_name">Solution1fo</span> peut vous aider à atteindre vos objectifs technologiques.
                <a href="contact">Contactez-moi</a> dès maintenant pour discuter de votre projet.
            </p>
        </div>
    </div>
</div>
