@{
    ViewData["Title"] = "Accueil";
}

<div class="text-center container-fluid p-0">
    <div class="container-fluid home_bg">
        <div class="row" id="header_home_page">
            <div class="col-xs-12 col-md-2"></div>
            <div class="col-xs-12 col-md-8">
                <h1>Bienvenue sur Solution1fo</h1>
                <h2>Expérience DevOps et Développement Informatique Indépendant à votre service</h2>
                <p>
                    Chez <span class="site_name">Solution1fo</span>, nous sommes passionnés par l'alliance du développement informatique et des pratiques DevOps pour créer des solutions puissantes et efficaces.
                    En tant que professionnel indépendant, je m'engage à offrir des services sur mesure pour répondre à vos besoins spécifiques.
                </p>
            </div>
            <div class="col-xs-12 col-md-2"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-2"></div>
        <div class="col-xs-12 col-md-8">
            <h2>Services</h2>
            <ul>
                <li>
                    <span class="title_li">DevOps Complet</span><br />
                    Intégrez l'automatisation, la CI/CD, et l'IaC pour optimiser votre flux de travail. Transformez vos processus de développement et de déploiement pour une efficacité maximale.
                </li>

                <li>
                    <span class="title_li">Développement sur Mesure</span><br />
                    Du développement front-end au back-end, créez des applications robustes et évolutives. Profitez de mon expertise pour des solutions personnalisées adaptées à votre vision.
                </li>

                <li>
                    <span class="title_li">Consultation Technique</span><br />
                    Besoin de conseils pour votre infrastructure ou de résoudre des défis de développement ? Profitez de mes conseils experts pour prendre des décisions éclairées.
                </li>
            </ul>
        </div>      
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-2"></div>
        <div class="col-xs-12 col-md-8">
            <h2>Pourquoi Solution1fo ?</h2>
            <ul>
                <li>
                    <span class="title_li">Flexibilité et Adaptabilité</span><br />
                    En tant que développeur indépendant, je suis capable de m'adapter à vos besoins changeants, fournissant des solutions agiles et flexibles.
                </li>

                <li>
                    <span class="title_li">Engagement envers la Qualité</span><br />
                    Chaque ligne de code compte. Je m'engage à fournir un code de haute qualité et des solutions DevOps qui répondent aux normes les plus élevées.
                </li>

                <li>
                    <span class="title_li">Collaboration Transparente</span><br />
                    Vous serez impliqué à chaque étape du processus. La transparence et la communication ouverte sont au cœur de ma philosophie de travail.
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-2"></div>
        <div class="col-xs-12 col-md-8">
            <p>
                Que vous soyez une start-up en pleine croissance ou une entreprise établie, découvrez comment <span class="site_name">Solution1fo</span> peut vous aider à atteindre vos objectifs technologiques.
                <a href="contact">Contactez-moi</a> dès maintenant pour discuter de votre projet.
            </p>
        </div>
        <div class="col-xs-12 col-md-2"></div>
    </div>
</div>
