@{
    ViewData["Title"] = "Mentions Légales";
}
<div class="container_page container-fluid row">
    <div class="col-sm-12 col-md-2 col-lg-12 col-xl-1"></div>
    <div class="col-sm-12 col-md-8 col-lg-12 col-xl-10">
        <h1 class="mb-4">@ViewData["Title"]</h1>
        <div class="row container-fluid text-center margin-div">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <span class="title_li">Coordonnées</span><br /><br />
                    Nom du site : Solution1fo.fr
                    <br />
                    <br />
                    Adresse : 284 rue de la République, 76520 FRANQUEVILLE SAINT PIERRE
                    <br />
                    <br />
                    Propriétaire du site : CHEREAULT Damien
                    <br />
                    <br />
                    Contact : contact@solution1fo.fr
                </li>
                <li class="list-group-item">
                    <span class="title_li">Statut Juridique</span><br /><br />
                    Entrepreneur individuel
                </li>
                <li class="list-group-item">
                    <span class="title_li">Numéro SIREN</span><br /><br />
                    893760447
                </li>
                <li class="list-group-item">
                    <span class="title_li">Numéro de TVA intracommunautaire</span><br /><br />
                    FR78893760447
                </li>
                <li class="list-group-item">
                    <span class="title_li">Hébergeur</span><br /><br />
                    L’hébergeur de notre site internet est la société de droit français GANDI SAS.<br />
                    GANDI SAS, Société par Actions Simplifiée au capitale de 630000€ ayant son siège social au 63-65 boulevard Masséna 75013 PARIS.<br />
                    Siren 423 093 459 RCS PARIS<br />
                    N° de TVA FR81423093459<br />
                    Tel : 01 70 37 76 61
                </li>
                <li class="list-group-item">
                    <span class="title_li">Propriété Intellectuelle</span><br /><br />
                    Le contenu du site internet (textes, images, vidéos, etc.) est protégé par la propriété intellectuelle. Toute reproduction ou utilisation non autorisée du contenu du site est interdite.
                </li>
                <li class="list-group-item">
                    <span class="title_li">Données personnelles</span><br /><br />
                    Le site internet collecte et traite les données personnelles de ses utilisateurs conformément à la réglementation en vigueur en matière de protection des données personnelles. Pour plus d’informations sur la collecte et le traitement des données personnelles, veuillez vous référer à la <a href="politique-de-confidentialite">politique de confidentialité</a> du site internet.
                </li>
                <li class="list-group-item">
                    <span class="title_li">Responsabilité</span><br /><br />
                    Le propriétaire du site internet décline toute responsabilité quant à l’utilisation des informations et du contenu du site internet. L’utilisateur est seul responsable de l’utilisation qu’il fait du site internet et des informations qu’il y trouve.
                </li>
                <li class="list-group-item">
                    <span class="title_li">Droit Applicable</span><br /><br />
                    Les présentes mentions légales sont régies par le droit français. Tout litige relatif à l’utilisation du site internet sera soumis à la compétence des tribunaux français.
                </li>
            </ul>
        </div>
    </div>
</div>
