@{
    ViewData["Title"] = "Politique de Confidentialité";
}

<div class="container_page container-fluid row">
    <div class="col-sm-12 col-md-2 col-lg-12 col-xl-1"></div>
    <div class="col-sm-12 col-md-8 col-lg-12 col-xl-10">
        <h1 class="mb-4">@ViewData["Title"]</h1>
        <div class="row container-fluid text-center margin-div">
            <h2>Collecte des informations personnelles</h2>
            <ol class="list-group list-group-flush list-group-numbered">
                <li class="list-group-item">
                    <span class="title_li">Objectif du document</span><br /><br />
                    <p>Ce document a pour objectif de présenter la politique de confidentialité établie par Solution1fo pour le site Solution1fo.fr</p>
                </li>
                <li class="list-group-item">
                    <span class="title_li">Politique de Confidentialité</span><br /><br />
                    <ol class="list-group list-group-flush list-group-numbered">
                        <li class="list-group-item">
                            <span class="title_li">Introduction</span><br /><br />
                            Solution1fo place la protection des données à caractère personnel au cœur de ses produits et des services qui vous sont proposés. Solution1fo s’engage à respecter la loi du 6 janvier 1978 modifiée relative à la protection des données personnelles ainsi que le Règlement (UE) 2016/679 dit « RGPD ».
                            <br />
                            <br />
                            La présente politique énonce les principes et lignes directrices pour la protection de vos données à caractère personnel été a pour objectif de vous informer sur :
                            <br />
                            <br />
                            <ul>
                                <li>Les données personnelles que Solution1fo traite et les raisons de ce traitement,</li>
                                <li>La façon dont sont utilisées ces données personnelles,</li>
                                <li>Vos droits sur les données personnelles vous concernant.</li>
                            </ul>
                            <br />
                            <br />
                            La présente politique a été mise à jour en avril 2023.
                            <br />
                            <br />
                            Nous nous réservons le droit de la modifier à tout moment afin de vous fournir une information à jour sur la façon dont les données sont collectées et traitées ou suites à des évolutions législatives.
                        </li>
                        <li class="list-group-item">
                            <span class="title_li">Le responsable de traitement</span><br /><br />
                        </li>
                        <li class="list-group-item">
                            <span class="title_li">Le responsable de traitement</span><br /><br />
                        </li>
                        <li class="list-group-item">
                            <span class="title_li">Le responsable de traitement</span><br /><br />
                        </li>
                        <li class="list-group-item">
                            <span class="title_li">Le responsable de traitement</span><br /><br />
                        </li>
                        <li class="list-group-item">
                            <span class="title_li">Le responsable de traitement</span><br /><br />
                        </li>
                        <li class="list-group-item">
                            <span class="title_li">Le responsable de traitement</span><br /><br />
                        </li>
                        <li class="list-group-item">
                            <span class="title_li">Le responsable de traitement</span><br /><br />
                        </li>
                        <li class="list-group-item">
                            <span class="title_li">Le responsable de traitement</span><br /><br />
                        </li>
                    </ol>
                </li>
            </ol>
        </div>
    </div>
</div>


2) 
Le responsable de traitement mentionné dans la présente politique de confidentialité est Solution1fo. Les coordonnées du responsable sont les suivantes :

Solution1fo

129 rue Edouard Delamare Deboutteville – 76160 ISNEAUVILLE

02 78 77 53 86 contact@avantdecliquer.com

3) Les données traitées et leur finalité
Les données obligatoires sont matérialisées dans les documents et/ou les formulaires qui vous sont soumis par un astérisque (*).

L’utilisation des données et informations telle que décrite ci-dessus est autorisée par la réglementation applicable à la protection des données personnelles (RGPD).

Solution1fo ne collecte aucune donnée sensible vous concernant. Si Solution1fo était amené à collecter des données sensibles de votre part, Solution1fo les supprimerai immédiatement après le traitement de votre demande.

Les données collectées dans le formulaire sont obligatoires et sont nécessaires à Solution1fo afin de vous recontacter.



4) À qui sont communiquées vos données personnelles ?
Pour les finalités décrites ci-dessus, vos données sont susceptibles d’être transmises :

– À des services internes à Solution1fo : les directions qui sont en charge de l’exécution des services souscrits, notamment services de support et maintenance, de relations clients, comptabilité ; production

– À des prestataires externes à Solution1fo : les prestataires techniques, y compris des sous-traitants qui fournissent des services ou une assistance et des conseils à Solution1fo;

– À des organismes externes : les organismes publics dans le cadre des obligations légales ;

– Sur demande, elles peuvent également être transférées aux personnes et autorités dont le droit d’accès aux données à caractère personnel est reconnu par la loi, les règlements ou les dispositions émanant d’autorités habilitées par la loi.



5) Combien de temps conservons-nous vos données personnelles ?
Les données que nous traitons sont conservées le temps nécessaire à la réalisation de la finalité augmentée de la durée de conservation imposée par les règles applicables en matière de prescription légale.

6) Où sont vos données personnelles ?
L’ensemble des traitements de vos données personnelles sont réalisés en France.



7) Comment sont sécurisées vos données personnelles ?
Solution1fo s’engage à mettre en œuvre les moyens techniques et organisationnels nécessaires afin d’assurer la sécurité des données personnelles contre le vol, la perte, la divulgation ou la modification non autorisée en fonction de la sensibilité des données.

Solution1fo s’engage à prendre en compte la protection de vos données personnelles et de votre vie privée dès la conception des nouveaux produits ou services qui vous sont proposés.



8) Exercer vos droits sur vos données personnelles
Vous pouvez à tout moment demander à exercer vos droits d’accès, de rectification, d’opposition, d’effacement, de limitation, de portabilité auprès de Solution1fo comme prévu dans la réglementation en vigueur sous réserve d’en remplir les conditions.

Ces demandes peuvent être adressées par courrier ou message électronique à :

Solution1fo – Le Délégué à la Protection des Données

129 rue Edouard Delamare Deboutteville

76160 ISNEAUVEILLE dpo@avantdecliquer.com



9) Soumettre une plainte auprès de la CNIL
Si vous estimez que nous n’avons pas traité vos Données conformément à la réglementation en matière de protection des Données personnelles, vous avez la possibilité d’introduire une plainte auprès de la CNIL : https://www.cnil.fr/fr/plaintes.

Contact
Si vous avez des questions sur cette politique de confidentialité ou sur la manière dont nous traitons vos informations personnelles, veuillez nous contacter à l’adresse suivante : contact@setupdmarc.com
