@{
    ViewData["Title"] = "Realisations";
}

<div class="container-fluid container_page ">
    <div class="row header_home_page">
        <h1 class="mb-4">Mes Réalisations</h1>
        <h2>Visualiser votre futur projet.</h2>
    </div>
    <div id="carousel_realisation" class="carousel slide">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <a href="https://homea-immo.com" target="_blank"><img src="/img/realisation_homea.png" class="d-block w-100" alt="Homea"></a>
            </div>
            <div class="carousel-item">
                <a href="https://solution1fo.fr" target="_blank"><img src="/img/realisation_solution1fo.png" class="d-block w-100" alt="Solution1fo"></a>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel_realisation" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel_realisation" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
