@{
    ViewData["Title"] = "Realisations";
}

<div class="container_page container-fluid row">
    <div class="col-sm-12 col-md-2 col-lg-12 col-xl-1"></div>
    <div class="col-sm-12 col-md-8 col-lg-12 col-xl-10">
        <h1 class="mb-4">Visualiser votre futur projet</h1>
        <div id="carousel_realisation margin-div" class="carousel slide">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <a href="https://homea-immo.com" target="_blank"><img src="/img/realisation_homea.png" class="d-block w-100" alt="Homea"></a>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel_realisation" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel_realisation" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>

