@{
    ViewData["Title"] = "Services";
}

<div class="container-fluid">
    <div class="row container_page">
        <div class="col-sm-12 col-md-2 col-lg-12 col-xl-1"></div>
        <div class="col-sm-12 col-md-8 col-lg-12 col-xl-10">
            <h1 class="mb-4 text-center">Mes Services</h1>
            <h2>Votre projet, une solution informatique.</h2>
            <div class="row container-fluid text-center">
                <!--ligne 1-->
                <div class="col-sm-12 col-md-12 col-lg-5 col-xl-5">
                    <div class=" mb-4 row">
                        <div class="col-4 col-4 col-sm-4 col-md-4 col-lg-3 col-xl-3 text-center order-lg-2">
                            <div class="circle-icon">
                                <i class="bi bi-browser-chrome"></i>
                            </div>
                        </div>
                        <div class="col-8 col-8 col-sm-8 col-md-8 col-lg-9 col-xl-9 text-start text-lg-end order-lg-1">
                            <span class="title_li">Développement Web</span><br /><br />
                            Site Web, Application Web, internet ou intranet, et intégration API (moyen de paiement, carte, etc.)
                        </div>
                    </div>

                </div>
                
                <div class="col-sm-12 col-md-12 col-lg-2 col-xl-2">
                </div>

                <div class="col-sm-12 col-md-12 col-lg-5 col-xl-5">
                    <div class=" mb-4 row">
                        <div class="col-4 col-4 col-sm-4 col-md-4 col-lg-3 col-xl-3 text-center">
                            <div class="circle-icon">
                                <i class="bi bi-envelope-check-fill"></i>
                            </div>
                        </div>
                        <div class="col-8 col-sm-8 col-md-8 col-lg-9 col-xl-9 text-start">
                            <span class="title_li">Configuration de serveur de messagerie</span><br /><br />
                            Configuration de serveur de messagerie et de solution de messagerie pour assurer une bonne délivrabilité
                        </div>
                    </div>
                 </div>

                 <!--ligne 2-->
                <div class="col-sm-12 col-md-12 col-lg-5 col-xl-5">
                    <div class=" mb-4 row">
                        <div class="col-4 col-sm-4 col-md-4 col-lg-3 col-xl-3 text-center order-lg-2">
                            <div class="circle-icon">
                                <i class="bi bi-file-earmark-excel-fill"></i>
                            </div>
                        </div>
                        <div class="col-8 col-sm-8 col-md-8 col-lg-9 col-xl-9 text-start text-lg-end order-lg-1">
                            <span class="title_li">Excel Avancé</span><br /><br />
                            Macro VBA, création et optimisation de formules complexes
                        </div>
                    </div>

                </div>

                <div class="col-sm-12 col-md-12 col-lg-2 col-xl-2">
                </div>

                <div class="col-sm-12 col-md-12 col-lg-5 col-xl-5">
                    <div class=" mb-4 row">
                        <div class="col-4 col-4 col-sm-4 col-md-4 col-lg-3 col-xl-3 text-center">
                            <div class="circle-icon">
                                <i class="bi bi-pip"></i>
                            </div>
                        </div>
                        <div class="col-8 col-sm-8 col-md-8 col-lg-9 col-xl-9 text-start">
                            <span class="title_li">Refonte de site Web</span><br /><br />
                            Refonte fonctionnelle et graphique de votre site ou application Web
                        </div>
                    </div>
                </div>

                <!--ligne 3-->
                <div class="col-sm-12 col-md-12 col-lg-5 col-xl-5">
                    <div class=" mb-4 row">
                        <div class="col-4 col-sm-4 col-md-4 col-lg-3 col-xl-3 text-center order-lg-2">
                            <div class="circle-icon">
                                <i class="bi bi-database-fill-gear"></i>
                            </div>
                        </div>
                        <div class="col-8 col-sm-8 col-md-8 col-lg-9 col-xl-9 text-start text-lg-end order-lg-1">
                            <span class="title_li">Gestion de serveur</span><br /><br />
                            Configuration et gestion de serveur linux, Web (multi-domaine), Mail, Solutions containerisées 
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-12 col-lg-2 col-xl-2">
                </div>

                <div class="col-sm-12 col-md-12 col-lg-5 col-xl-5">
                    <div class=" mb-4 row">
                        <div class="col-4 col-4 col-sm-4 col-md-4 col-lg-3 col-xl-3 text-center">
                            <div class="circle-icon">
                                <i class="bi bi-wrench"></i>
                            </div>
                        </div>
                        <div class="col-8 col-sm-8 col-md-8 col-lg-9 col-xl-9 text-start">
                            <span class="title_li">Maintenance et Amélioration</span><br /><br />
                            Reprise de maintenance et amélioration de solutions existantes
                        </div>
                    </div>
                </div>

                <!--ligne 4-->
                <div class="col-sm-12 col-md-12 col-lg-5 col-xl-5">
                    <div class=" mb-4 row">
                        <div class="col-4 col-sm-4 col-md-4 col-lg-3 col-xl-3 text-center order-lg-2">
                            <div class="circle-icon">
                                <i class="bi bi-code-square"></i>
                            </div>
                        </div>
                        <div class="col-8 col-sm-8 col-md-8 col-lg-9 col-xl-9 text-start text-lg-end order-lg-1">
                            <span class="title_li">Développement logiciel</span><br /><br />
                            Développement de logiciels et applications locales
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-12 col-lg-2 col-xl-2">
                </div>

                <div class="col-sm-12 col-md-12 col-lg-5 col-xl-5">
                    <div class=" mb-4 row">
                        <div class="col-4 col-4 col-sm-4 col-md-4 col-lg-3 col-xl-3 text-center">
                            <div class="circle-icon">
                                <i class="bi bi-file-earmark-bar-graph-fill"></i>
                            </div>
                        </div>
                        <div class="col-8 col-sm-8 col-md-8 col-lg-9 col-xl-9 text-start">
                            <span class="title_li">Base de données</span><br /><br />
                            Maintenance, Amélioration, Optimisation et Migration de base de données
                        </div>
                    </div>
                </div>

                <!--ligne 5-->
                <div class="col-sm-12 col-md-12 col-lg-5 col-xl-5">
                    <div class=" mb-4 row">
                        <div class="col-4 col-sm-4 col-md-4 col-lg-3 col-xl-3 text-center order-lg-2">
                            <div class="circle-icon">
                                <i class="bi bi-boxes"></i>
                            </div>
                        </div>
                        <div class="col-8 col-sm-8 col-md-8 col-lg-9 col-xl-9 text-start text-lg-end order-lg-1">
                            <span class="title_li">Développement Web 3</span><br /><br />
                            Développement de contrats intelligents (smart-contract), et interaction avec blockchains et smart-contract depuis des applications et sites Web
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-12 col-lg-2 col-xl-2">
                </div>

                <div class="col-sm-12 col-md-12 col-lg-5 col-xl-5">
                    <div class=" mb-4 row">
                        <div class="col-4 col-4 col-sm-4 col-md-4 col-lg-3 col-xl-3 text-center">
                            <div class="circle-icon">
                                <i class="bi bi-router-fill"></i>
                            </div>
                        </div>
                        <div class="col-8 col-sm-8 col-md-8 col-lg-9 col-xl-9 text-start">
                            <span class="title_li">Infrastructure</span><br /><br />
                            Sauvegardes, mise au propre de votre parc informatique, inventaire de votre matériel, simplification de votre infrastructure (petites structures uniquement).
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row container_page mt-5">
        <div class="col-12 col-lg-2"></div>
        <div class="col-12 col-lg-8">
            <p class="mt-5 mb-5">
                Vous ne trouvez pas de compétence corespondante à votre besoin ou vous souhaitez de plus amples informations ?
                <a href="contact">Contactez-moi</a> dès maintenant pour discuter de votre projet.
            </p>
        </div>
    </div>
</div>
