@{
    ViewData["Title"] = "Tarifs";
}

<div class="container_page container-fluid row">
    <div class="col-sm-12 col-md-2 col-lg-12 col-xl-1"></div>
    <div class="col-sm-12 col-md-8 col-lg-12 col-xl-10">
        <h1 class="mb-4">Uune prestation soignée et un travail de qualité</h1>
        <div class="row container-fluid text-center margin-div">

        </div>
    </div>
</div>
