@{
    ViewData["Title"] = "Tarifs";
}

<div class="container_page container-fluid row">
    <div class="col-sm-12 col-md-2 col-lg-12 col-xl-1"></div>
    <div class="col-sm-12 col-md-8 col-lg-12 col-xl-10">
        <h1 class="mb-4">Une prestation soignée et un travail de qualité</h1>
        <div class="row container-fluid text-center margin-div">
            <!--<div class="col-12 col-md-4">
                <div class="dark-bg">
                    <span class="title_span">Site Vitrine ou Site One Page</span>
                    <hr class="hr"/>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="dark-bg">
                    <span class="title_span">Site ou Application Web Sur Mesure</span>
                    <hr />
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="dark-bg">
                    <span class="title_span">Excel ou Logiciel</span>
                    <hr />
                </div>
            </div>-->
            <!--<div class="col-12 col-md-4">
                <div class="dark-bg">
                    <span class="title_span">Développement Spécifique</span>
                    <hr />
                    Taux journalier moyen
                    <br />
                    <span>400€/jour</span>
                    <button class="form-control">Demander un devis</button>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="dark-bg">
                    <span class="title_span">Maintenance</span>
                    <hr />
                    <span>50€/heure</span>
                    <br />
                    ou forfait de maintenance avec dégressif en fonction de vos besoins
                    <button class="form-control">Demander un devis</button>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="dark-bg">
                    <span class="title_span">Infrastructure</span>
                    <hr />
                    <span>50€/heure</span>
                    <br />
                    + frais de déplacement sur devis
                    <button class="form-control">Demander un devis</button>
                </div>
            </div>-->
        </div>
    </div>
</div>
